<header class="header">
  <nav class="navbar">
    <div style="display:flex; align-items:center">
      <img src="../../assets/ticket.png" alt="tickets" class="logo" />
      Ticketr
    </div>
    <div *ngIf="authService.isAuthorized">
      <p-button label="Report Issue"
                styleClass="ui-button-secondary ui-button-raised ui-button-rounded"
                icon="pi pi-exclamation-circle"
                iconPos="left"></p-button>
      <div class="user">
        <i class="pi pi-user"></i>
        {{authService.decodedToken.unique_name}}
        <ul class="user-dropdown">
          <li>My Account</li>
          <li (click)="onLogout()">Signout</li>
        </ul>
      </div>
    </div>
  </nav>
</header>
