:host::ng-deep .menu {
  border: none;
  display: none;
}

@media (min-width: 768px) {
  :host::ng-deep .menu {
    background-color: blue;
    display: block;
  }
}

@media (min-width: 1200px) {
  :host::ng-deep .menu {
    background-color: red;
    display: block;
  }
}
