<section class="report-section">
  <form class="report-issue-form" [formGroup]="reportIssueForm" (ngSubmit)="onSubmitRerpotIssueForm()">
    <div class="form-header">
      <h1>Enter Issue Details</h1>
    </div>
    <div class="form-content">
      <div>
        <div class="content-title">
          Project
        </div>
        <div class="content-input">
          <p-dropdown [options]="projects" formControlName="project"></p-dropdown>
        </div>
      </div>
      <div>
        <div class="content-title">
          Assign To
        </div>
        <div class="content-input">
          <p-dropdown [options]="developers" formControlName="assignTo"></p-dropdown>
        </div>
      </div>
      <div>
        <div class="content-title">
          Severity
        </div>
        <div class="content-input">
          <p-dropdown [options]="severity" formControlName="severity"></p-dropdown>
        </div>
      </div>
      <div>
        <div class="content-title">
          Priority
        </div>
        <div class="content-input">
          <p-dropdown [options]="priority" formControlName="priority"></p-dropdown>
        </div>
      </div>
      <div>
        <div class="content-title">
          Title
        </div>
        <div class="content-input">
          <input type="text" pInputText class="txtInput" formControlName="title"/>
        </div>
      </div>
      <div>
        <div class="content-title">
          Summary
        </div>
        <div class="content-input">
          <textarea pInputTextarea class="txtArea" [rows]="5" formControlName="summary"></textarea>
        </div>
      </div>
      <div>
        <div class="content-title">
          Comment
        </div>
        <div class="content-input">
          <textarea pInputTextarea class="txtArea" [rows]="5" formControlName="comment"></textarea>
        </div>
      </div>
    </div>
    <div class="form-footer">
      <p-button label="Submit Issue" styleClass="ui-button-info ui-button-raised"></p-button>
    </div>
  </form>
</section>
