<section class="login-sect">
  <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <input formControlName="username" type="text" class="username-input" placeholder="Username" />
    <input formControlName="password" type="password" class="password-input" placeholder="Password" />
    <button pButton type="submit" class="ui-button-raised" label="login" [disabled]="loginForm.status === 'INVALID'"></button>
  </form>
</section>

<section class="register-sect">
  <form class="register-form" [formGroup]="registerForm" (ngSubmit)="onRegister()">
    <span>Not a team member?</span>
    <input formControlName="username" type="text" class="username-input" placeholder="Username" />
    <ul class="input-validation-messages">
      <li>Username must contain 6 - 20 characters</li>
    </ul>
    <input formControlName="password" type="password" class="password-input" placeholder="Password" />
    <ul class="input-validation-messages">
      <li>Password must contain 5 - 8 characters</li>
    </ul>
    <input formControlName="email" type="email" class="password-input" placeholder="Email" />
    <ul class="input-validation-messages">
      <li>Invalid email address</li>
    </ul>
    <button pButton type="submit" class="ui-button-raised" label="Register" [disabled]="registerForm.status === 'INVALID'"></button>
  </form>
</section>

