<section class="ticket">
  <div class="header">
    <h2>Ticket Id: 0001</h2> 
  </div>
  <div class="ticket-body">
    <div class="info">
      <div>
        Project
      </div>
      <div>
        {{ticketInfo.ticket.projectName}}
      </div>
    </div>
    <div class="info">
      <div>
        Assigned To
      </div>
      <div>
        {{ticketInfo.ticket.assignedToNavigation.username}}
      </div>
    </div>
    <div class="info">
      <div>
        Repoerted By
      </div>
      <div>
        {{ticketInfo.ticket.reportedBy}}
      </div>
    </div>
    <div class="info">
      <div>
        Repoerted On
      </div>
      <div>
        {{ticketInfo.ticket.dateCreated | date}}
      </div>
    </div>
    <div class="info">
      <div>
        Severity
      </div>
      <div>
        {{ticketInfo.ticket.severity}}
      </div>
    </div>
    <div class="info">
      <div>
        Priority
      </div>
      <div>
        {{ticketInfo.ticket.priority}}
      </div>
    </div>
    <div class="info">
      <div>
        Title
      </div>
      <div>
        {{ticketInfo.ticket.title}}
      </div>
    </div>
    <div class="info">
      <div>
        Summary
      </div>
      <div>
        {{ticketInfo.ticket.summary}}
      </div>
    </div>
  </div>
  <div class="ticket-footer">
    <div>
      <button pButton type="button" class="ui-button-raised" label="Change Status"
              [disabled]="ticketInfo.ticket.assignedToNavigation.userId !== authService.userid"
              (click)="onChangeStatus()"></button>
      &nbsp;
      <p-dropdown [options]="statuses" [(ngModel)]="newStatusId"></p-dropdown>
    </div>
    <div>
      <button pButton type="button" class="ui-button-raised ui-button-success" label="Reassign"
              [disabled]="ticketInfo.ticket.assignedToNavigation.userId !== authService.userid"
              (click)="onReassign()"></button>
      &nbsp;
      <p-dropdown [options]="users" [(ngModel)]="newAssignId"></p-dropdown>
    </div>
  </div>
</section>

<section class="ticket">
  <div class="header">
    <h2>Comments</h2>
  </div>
  <div class="comment-body">
    <div class="new-comment">
      <textarea pInputTextarea class="txtArea" [rows]="5" [(ngModel)]="newComment"></textarea>
      <button pButton type="button" class="ui-button-raised" label="Add Comment"
              (click)="onAddComment()"
              [disabled]="!newComment || newComment === ''"></button>
    </div>
    <ul class="comment-list">
      <li *ngFor="let comment of ticketInfo.ticket.comments">
        <p>{{comment.comment}}</p>
        <div><small style="text-align: right">- {{comment.commentDate | date}}, {{comment.user.username}}</small></div>
      </li>
    </ul>
  </div>
</section>
