<section class="dashboard">
  <div class="ticket-info">
    <div>
      <div class="list-header">
        <div>
          <i class="pi pi-list"></i>
        </div>
        <div>
          <h2>My Assigned</h2>
        </div>
      </div>
      <ul class="ticket-list">
        <li *ngFor="let ticket of myAssigned.result" class="ticket-item">
          <div>
            <i *ngIf="ticket.priorityId <= 3" class="pi pi-thumbs-up icon-ok"></i>
            <i *ngIf="ticket.priorityId > 3" class="pi pi-exclamation-triangle icon-danger"></i>
          </div>
          <div>
            <p>
              <a [routerLink]="'/ticket/' + ticket.ticketId">{{onAddLeadZero(ticket.ticketId)}}</a> [<a>{{ticket.project.projectName}}</a>]  {{ticket.title}}
            </p>
            <small>{{ticket.dateCreated | date}}</small>
          </div>
        </li>
      </ul>
      <p-paginator [rows]="myAssigned.pagination.itemsPerPage"
                   [totalRecords]="myAssigned.pagination.totalItems"
                   [rowsPerPageOptions]="[10,15,20]"
                   pageLinkSize="3"
                   (onPageChange)="paginateRecents($event)"></p-paginator>
    </div>
    <div>
      <div class="list-header">
        <div>
          <i class="pi pi-ticket"></i>
        </div>
        <div>
          <h2>Recent TIckets</h2>
        </div>
      </div>
      <ul class="ticket-list">
        <li *ngFor="let ticket of recent.result" class="ticket-item">
          <div>
            <i *ngIf="ticket.priorityId <= 3" class="pi pi-thumbs-up icon-ok"></i>
            <i *ngIf="ticket.priorityId > 3" class="pi pi-exclamation-triangle icon-danger"></i>
          </div>
          <div>
            <p>
              <a [routerLink]="'/ticket/' + ticket.ticketId">{{onAddLeadZero(ticket.ticketId)}}</a> [<a>{{ticket.project.projectName}}</a>]  {{ticket.title}}
            </p>
            <small>{{ticket.dateCreated | date}}</small>
          </div>
        </li>
      </ul>
      <p-paginator [rows]="recent.pagination.itemsPerPage"
                   [totalRecords]="recent.pagination.totalItems"
                   [rowsPerPageOptions]="[10,15,20]"
                   pageLinkSize="3"
                   (onPageChange)="paginateRecents($event)"></p-paginator>
    </div>
    <div>
      <div class="list-header">
        <div>
          <i class="pi pi-check-circle"></i>
        </div>
        <div>
          <h2>Resolved or Closed</h2>
        </div>
      </div>
      <ul class="ticket-list">
        <li *ngFor="let ticket of resolved.result" class="ticket-item">
          <div>
            <i class="pi pi-check-square icon-ok"></i>
          </div>
          <div>
            <p>
              <a [routerLink]="'/ticket/' + ticket.ticketId">{{onAddLeadZero(ticket.ticketId)}}</a> [<a>{{ticket.project.projectName}}</a>]  {{ticket.title}}
            </p>
            <small>{{ticket.dateCreated | date}}</small>
          </div>
        </li>
      </ul>
      <p-paginator [rows]="resolved.pagination.itemsPerPage"
                   [totalRecords]="resolved.pagination.totalItems"
                   [rowsPerPageOptions]="[10,15,20]"
                   pageLinkSize="3"
                   (onPageChange)="paginateResolved($event)"></p-paginator>
    </div>
  </div>
  <div class="timeline">
    <div>
      <div class="list-header">
        <div>
          <i class="pi pi-clock"></i>
        </div>
        <div>
          <h2>Timeline</h2>
        </div>
      </div>
      <ul class="ticket-list">
        <li *ngFor="let time of timeline.result" class="ticket-item">
          <div>
            <div [ngClass]="{'timeline-status': true, 'opened': time.action === 'opened',
                 'closed': time.action === 'closed',
                 'reopened': time.action === 'reopened',
                 'reassigned': time.action === 'reassigned',
                 'resolved': time.action === 'resolved',
                 'proccessing ': time.action === 'proccessing'}"></div>
          </div>
          <div>
            <p>
              <a [routerLink]="'/ticket/' + time.ticketId">{{onAddLeadZero(time.ticketId)}}</a> {{time.action}} by <a>{{time.doneByNavigation.username}}</a>
            </p>
            <small>{{time.actionDate | date}}</small>
          </div>
        </li>
      </ul>
      <p-paginator [rows]="timeline.pagination.itemsPerPage"
                   [totalRecords]="timeline.pagination.totalItems"
                   [rowsPerPageOptions]="[10,15,20]"
                   pageLinkSize="3"
                   (onPageChange)="paginateTimeline($event)"></p-paginator>
    </div>
  </div>
</section>
